# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

target/
build/
src/main/resources/db.properties

.idea/
*.iml
out/

*.log

